<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wgu.grimes.c196pa">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AlertReceiver"/>
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Grimes C196 PA"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TermsListActivity"
            android:label="@string/title_activity_terms_list"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TermEditorActivity"
            android:label="TermEditorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.TermsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CourseEditorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.TermEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NoteEditorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.NotesListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NotesListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CourseEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AssessmentEditorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CourseEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MentorEditorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MentorsListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.MentorsListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CourseEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>